<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="App.css" <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>img{float: right;}</style>
</head>
<body>
    
    <img src="https://i.etsystatic.com/9607667/r/il/eaa22b/614942243/il_794xN.614942243_gc2p.jpg" alt="jukebox" style="width:100px;height:170px;margin-left:15px;">

</body>
</html>